body{
		 overflow: hidden;
		background-color: #008037;
		display: flex;
		
	}
	canvas{
		border-radius: 5px;
		position: absolute;
		left: 25px;
		margin-top: 10px;
		top: 45px;
	}
.logo{
	position: absolute;
	top: 25%;
	left: 50%;

}
.creditos{

		width: 250px;
		height: 250px;
		position: absolute;

		top: 800px;
		left: 30px;


}
#creditos{
	position: absolute;
	left: 30px;
	width: 450px;
	height: 90px;
	top: 555px;
}