body{
		 overflow: hidden;
		background-color: #008037;
		display: flex;
		
	}
	canvas{
		border-radius: 5px;
		position: absolute;
		left: 25px;
		top: 40px;
	}
.logo{
	position: absolute;
	top: 25%;
	left: 50%;

}

#creditos{
	position: absolute;
	left: 30px;
	width: 500px;
	height: 90px;
	top: 560px;
	margin-top: -50px;
}
#snake{

	position: absolute;
	left: 30px;
	margin-top: -15px;
}